@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@layer base {
  body {
    @apply font-[Inter];
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #101828;
}
@font-face {
  font-family: "Thin";
  src: local("Inter-Thin"),
    url("./fonts/Inter_24pt-Thin.ttf") format("truetype");
}

@font-face {
  font-family: "Regular";
  src: local("Inter-Regular"),
    url("./fonts/Inter_24pt-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Medium";
  src: local("Inter-Medium"),
    url("./fonts/Inter_18pt-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Bold";
  src: local("Inter-Bold"),
    url("./fonts/Inter_18pt-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "SemiBold";
  src: local("Inter-SemiBold"),
    url("./fonts/Inter_28pt-SemiBold.ttf") format("truetype");
}
